<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">home</a></li>
            <li><a href="{% url 'about' %}">about</a></li>
        </ul>
    </nav>
    <h1>About Page</h1>
    <hr>
</body>
</html>