<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">home</a></li>
            <li><a href="{% url 'about' %}">about</a></li>
        </ul>
    </nav>
    <h1>Home Page</h1>
    <hr>
    <a href="{% url 'send_email' %}">Send Email</a>
    <hr>
    {% if result.id %}
    <p>Task ID: {{ result.id }}</p>
    <a href="{% url 'check_result' result.id %}">check task result</a>
    {% endif %}
</body>
</html>