<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">home</a></li>
            <li><a href="{% url 'about' %}">about</a></li>
        </ul>
    </nav>
    <h1>Result Page</h1>
    <hr>
    {% if result %}
    <h5>Task ID: {{ result.id }}</h5>
    <h5>Task State: {{ result.state }}</h5>
    <h5>Task Status: {{ result.status }}</h5>
    <h5>Task Value: {{ result.result }}</h5>
    {% endif %}
</body>
</html>